<!--検索対象モデルがUserの時 -->
<% if @range == "User" %>
<h3>Users search for "<%=@word %>"</h3>
<%= render 'users/index', users: @records %>

<!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
<% else %>
  <h3>Books search for "<%= @word %>"</h3>
  <%= render 'books/index', books: @records %>
<% end %>
